{% extends "base.html" %}

{% block title %}Another URL shortener{% endblock %}

{% block content %}
    {% if not shortened %}
    <form action="/" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <input class="form-control"
                   id="url"
                   name="url"
                   placeholder="URL to short">
        </div>
        <button type="submit" class="btn btn-primary">Shorten It!</button>
    </form>
    {% else %}
    <p class="text-justify">Your new shiny url is <a href="{{ shortened }}">{{ shortened }}</a></p>
    <p class="text-justify"><a href="{{ index }}">Want to shorten another one?</a></p>
    {% endif %}
{% endblock %}